<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Ayoo Ujian!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li id="home-nav" class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <% if(session.role === 'admin') { %>
        <li id="user-nav" class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
        <li id="question-nav" class="nav-item">
          <a class="nav-link" href="/questions">Questions</a>
        </li>
        <li id="exams-nav" class="nav-item">
          <a class="nav-link" href="/exams">Exams</a>
        </li>
      <%} else if(session.role === 'user') { %>
        <li id="exam-nav" class="nav-item">
          <a class="nav-link" href="/users/take_exam">Take Exam</a>
        </li>
        <li id="results-nav" class="nav-item">
          <a class="nav-link" href="/results">Show Result</a>
        </li>
      <%}%>
      <% if(!session.role) { %>
        <li id="login-nav" class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
      <%} else { %>
        <li id="login-nav" class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
      <%}%>
    </ul>
  </div>
</nav>
